body{
    margin: 0;
    padding: 0;
    background-color: rgba(112, 48, 48, 1); 
}
.information {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.logo {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 90px;
}
.button6 {
    position: relative;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 1px #cc5500;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    border-radius: 1px;
    background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
    background-size: 100% 100%, auto;
    background-position: 50% 50%;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
    transition: 0.2s;
    height: 50px;
    margin-top: 12%;
}
.button6:hover {
    background-size: 140% 100%, auto;
}
.button6:active {
    top: 1px;
    color: #ffdead;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}
.header {
    background-color: rgb(112, 48, 48);
}
.contacts{
    margin-left: 35%;
    background-color: rgba(112, 48, 48, 0.8);
    height: 22%;
    width: 30%;
    color: #ffff;
}
.addresses {
    margin-left: 20%;
    background-color: rgba(112, 48, 48, 0.8);
    height: 22%;
    width: 70%;
    color: #ffff;
}
.button25 {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    width: 9%;
}
.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.text {
    width: 90%;
    height: 2.5em;
    
}
.greeting{
    text-align: center;
    color: #ffff;
    font-size: 100px;
}
.funny {
    text-align: center;
    color: #ffff;
    font-size: 10px;
}
.nav {
    display: flex;
    justify-content: center;
}
.navEL {
    display: flex;
    justify-content: center;
    width: 200px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 100px;
}
.navigation {
    font-size: 40px;
    color: #ffff;
    margin-left: 8%;
    margin-right: 8%;
}
.EL {
    margin-bottom: 50px;
    margin-top: 50px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #ffdead;
}
.aboutTheWebsite {
    display: flex;
    justify-content: center;
    background-color: rgba(112, 48, 48, 1); 
    margin-top: 15%;

}
.manyLetter {
    color: #ffff;
    background-color: rgba(112, 48, 48, 1); 
}
.web1 {
    margin-right: 10%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.web2 {
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.footer {
    display: flex;
    height: 200px;
    justify-content: center;
    color: #fff;
    margin-top: 100px;
}
.creator {
    margin-right: 12%;
}
a.button5 {
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    user-select: none;
    padding: 0 5px;
    outline: none;
    border-radius: 2px;
    color: #ffff;
}
.button5:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;  /* для больших картинок 0 */
    padding-right: 5px;
}
.button5[data-twitter]:before {content: url(http://favicon.yandex.net/favicon/twitter.com);}
.button5[data-vk]:before {content: url(http://favicon.yandex.net/favicon/vk.com);}
.button5[data-facebook]:before {content: url(http://favicon.yandex.net/favicon/facebook.com);}
.button5:hover {
    background: linear-gradient(#ececeb, #eaeaea);
    box-shadow:
     inset rgba(0,0,0,.5) 0 -1px 1px,
     inset rgba(0,0,0,.2) 0 1px,
     inset #fff 0 2px,
     rgba(0,0,0,.2) 0 1px 1px;
}
.button5:active {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
    box-shadow:
     inset rgba(0,0,0,.8) 0 1px 2px,
     inset rgba(0,0,0,.05) 0 -1px 0,
     #fff 0 1px 1px;
}
.socialNetworks {
    margin-top: 50px;
}
.product {
    border: 4mm ridge rgba(112, 48, 48, .6);
    width: 300px;
    height: 700px;
    color: #ffff;
    margin-left: 100px;
    margin-top: 100px;
}
.picture {
    margin: 0;
}
.picture img{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border:thick double rgb(255, 48, 48);
}
.characteristic {
    border:thick double rgb(255, 48, 48);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    color: #ffff;
    text-align: center;
}
.inStock{
    border:thick double rgb(255, 48, 48);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
.quantity {
    display: flex;
    border:thick double rgb(255, 48, 48);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.brush {
    display: flex;
}
.brushB {
    border:thick double rgb(255, 48, 48);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(150, 48, 48);
    color: #ffff;
}
.addToCart{
    border:thick double rgb(255, 48, 48);
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    background-color: rgb(150, 48, 48);
    color: #ffff;
}
main {
    display: flex;
}
.bott{
    display: block;
    font-size: 1.1em;
    width:70px;
    text-decoration:none;
    text-align:center;
    font: bold 14px arial;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px auto;
    color: #ccc;
    background-color: #ff3232;
    background-image: linear-gradient(top, #c81414 0%, #ff3232 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c81414), color-stop(1, #ff3232));
    background-image: -moz-linear-gradient(top, #c81414 0%, #ff3232 100%);
    background-image: -o-linear-gradient(top, #c81414 0%, #ff3232 100%);
    border: none;
    border-radius: 3px;
    text-shadow: 0px -1px 0px #000;
    box-shadow: 0px 1px 0px #c80a0a,0px 5px 0px #960a0a,0px 6px 6px rgba(0, 0, 0, .6);
    -webkit-transition: ease .15s all;
    -moz-transition: ease .15s all;
    -o-transition: ease .15s all;
    transition: ease .15s all;
    -webkit-animation: none;
     -moz-animation: none;
     -o-animation: none;
      animation: none;
}
.bott:hover, .bott:focus{
    -webkit-animation: linear 1.2s light infinite;
    -moz-animation: linear 1.2s light infinite;
    -o-animation: linear 1.2s light infinite;
    animation: linear 1.2s light infinite;
    }
    @-webkit-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #960a0a, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
    }
    @-moz-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #960a0a, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
    }
    @-o-keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #960a0a, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
    }
    @keyframes light{
    0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
    50%   { color: #fff; text-shadow: 0px -1px 0px #960a0a, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
    100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
.bott:active{
    color: #fff;
    text-shadow: 0px -1px 0px #960a0a,0px 0px 5px #ffd,0px 0px 8px #fff;
    box-shadow: 0px 1px 0px #c80a0a,0px 2px 0px #960a0a,0px 2px 2px rgba(0, 0, 0, .9);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
a.a-btn-3 {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Oswald',Arial,sans-serif;        
}
a.a-btn-3{
background:#ff3030;
background:-webkit-gradient(linear,left top,left bottom,color-stop(#ff3030,0),color-stop(#ff3030,1));
background:-webkit-linear-gradient(top, #ff3030 0%, #ff3030 100%);
background:-moz-linear-gradient(top, #ff3030 0%, #ff3030 100%);
background:-o-linear-gradient(top, #ff3030 0%, #ff3030 100%);
background:linear-gradient(top, #ff3030 0%, #ff3030 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
padding-left:20px;
padding-right:80px;
height:38px;
display:block;
    margin: 20px auto;
    text-align:center;
    width:90px;
position:relative;
border:1px solid #5d81ab;
-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
-webkit-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
overflow:hidden;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
}
.a-btn-3-text{
padding-top:5px;
display:block;
    width:0px;
font-size:18px;
white-space:nowrap;
text-shadow:0px 1px 1px rgba(255, 255, 255, 0.9);
color:#c8c8c8;
-webkit-transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
-o-transition:all 0.2s linear;
transition:all 0.2s linear;
}
.a-btn-3-slide-text{
position:absolute;
height:100%;
top:0px;
right:52px;
width:0px;
background:#63707e;
text-shadow:0px -1px 1px #363f49;
color:#fff;
font-size:18px;
white-space:nowrap;
text-transform:uppercase;
text-align:left;
text-indent:10px;
overflow:hidden;
line-height:38px;
-webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
-moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
-webkit-transition:width 0.3s linear;
-moz-transition:width 0.3s linear;
-o-transition:width 0.3s linear;
transition:width 0.3s linear;
}
.a-btn-3-icon-right{
position:absolute;
right:0px;
top:0px;
height:100%;
width:52px;
border-left:1px solid #5d81ab;
-webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
-moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-3-icon-right span{
width:38px;
height:38px;
opacity:0.7;
position:absolute;
left:50%;
top:50%;
margin:-20px 0px 0px -20px;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
}
.a-btn-3:hover{
padding-right:140px;
-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn-3:hover .a-btn-3-text{
text-shadow:0px 1px 1px #5d81ab;
color:#fff;
}
.a-btn-3:hover .a-btn-3-slide-text{
width:80px;
}
.a-btn-3:hover .a-btn-3-icon-right span{
opacity:1;
}
.a-btn-3:active{
position:relative;
top:1px;
background:#5d81ab;
-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
border-color:#80a9da;
}

a.button25 {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
  }
  a.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }
.cart {
    display: flex;
}

a.button11 {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 135%;
    font-weight: 700;
    text-decoration: none;
    padding: .25em .5em;
  }
  a.button11:after {
    content: "Купить";
    position:absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    width: calc(100% + 6*(1em*90/135) - 2px*2*2);
    text-align: right;
    color: #fff;
    font-size: 90%;
    padding: .25em .5em;
    border-radius: 5px;
    border: 2px solid #c61e40;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    background: linear-gradient(#d4536d, #c61e40) no-repeat 100% 0;
    background-size: calc(6*(1em*90/135) + .5em) 100%;
    box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
    transition: .3s;
  }
  a.button11:hover:after {
    box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
  }
  a.button11:active:after {
    background-image: linear-gradient(#c61e40, #d4536d);
  }
.amount {
    display: block;
    float: right;
    padding: 100px;
    padding-top: 90px;
}
.cartImg {
    width: 150px;
    height: 150px;
    margin-left: 25px;
    margin-top: 25px;
}
.cartImg img {
    width: 150px;
    height: 150px;
    margin: 0;
}
.cartProduct {
    display: flex;
    
}
.card-text {
    width: 150px;
    height: 25px;
}
.firstLine {
    display: flex;
}
.name {
    height: 55px;
}
.cartBrush {
    width: 100px;
    margin-left: 50px;
}
.cartBody {
    display: flex;
    flex-direction: column;
}
.cartBott {
    margin-top: 0;
    height: 35px;
}
.del {
    height: 35px;
    width: 35px;
}
.cartAndAmount {
    display: flex;
    width: 1700px;
    height: 200px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border:thick double rgb(255, 48, 48);
}
.invisible {
    opacity: 0;
}